*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content{
  height: 100vh;
}

.register-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

/* transection page */
.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}
/* transection page */

/* antd icons */

.switch-icons{
  border: 1px solid rgba(0, 0, 0, 0.671);
  border-radius: 5px;
  padding: 10px 15px;
}

.anticon svg {
  font-size: 20px;
  cursor: pointer;
}

.active-icon{
  color: black;
}

.inactive-icon{
  color: gray;
}

.bg{
  background-image: url('./images/img.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  background-repeat: no-repeat;
  width: 100vw; 
  height: 100vh; 
 
}

.text-white{
  color: white;
}
.text-red{
  color : white;
}
.bg-r {
  background-image: url('./images/img1.jpg'); /* Absolute path */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh; 
  opacity: 0.9; 
}

